*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{


}

.footer{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 150px;
    margin: auto;
    padding: 2em 1em;
    margin-top: 5em;
    text-align: center;
}

