body{
    background-color: #2c0822;
}

.header{
    background-color: #FFC300;
}

.navegacion{
    background-color: #FF5733;
}

.footer{
    background-color: #C70039;
}

.main{
    background-color: #900C3F;
}
